.comment_content
  - if comment.user == current_user
    %span.delete
      = link_to [comment.cafe, comment], method: :delete, data: {confirm: "are you sure?"} do
        %i.fa.fa-times
  %p= comment.comment
  %p.comment_username
    Shared by
    = comment.user.name
    = time_ago_in_words(comment.created_at)
    ago
%hr