.row
  .col-md-8.col-md-offset-2
    .row#search_form
      .input-group
        %input{:type => "text", :id => "address", :class => "form-control", :placeholder => "Find a cafe in..."}
        %span.input-group-btn
          .button{:id => "btnSearch", :class => "btn btn-default", :type => "button", :value => "Search"}