.container.top-150
  .row 
    .col-md-8.col-md-offset-2
      .panel
        .panel-heading Create a new cafe
        .panel-body
          = render 'form'
          = link_to "Cancel", root_path,  class: "btn btn-default"