.container.notifications.top-50
  %p.notice= notice
  %p.alert= alert

.container.top-50
  .row 
    .col-md-8
      .panel
        .panel-heading Create a new cafe
        .panel-body
          = render 'form'