/*
 *= require_self
 */

 .grey {
  color: #727272;
}

.white {
  color: #fff;
}

.error {
  color: red;
  font-weight: bold;
}

.wrapper {
  margin-top: 15px;
  margin-bottom: 15px;
}

.navbar-default .nav li a {
  color: #727272;
  cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

#notice_wrapper, #alert_wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  background: rgba(135,216,211,0.85);
  p {
    text-align: center;
    margin: 0;
    font-size: 1.25rem;
    color: #ffffff;
    letter-spacing: 1px;
    padding: 1.2rem 0;
  }
}

.panel{
  border-color: #bce8f1;
  .panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }
  form{
    label{
      margin-top: 10px;
    }
    .error {
      right: 40px;
      position: absolute;
      margin-top: -25px;
    }   
  }
}

.simple_form {
  margin-bottom: 10px;
}

.name {
    h2 {
      font-weight: 700;
      text-transform: uppercase;
    }
  }

.cafe_content {
  .social {
    text-align: right;
  }
}

.cafe_show{
  .edit {
    position: absolute;
    right: 10px;
    margin-top: -20px;
  }
}

/*Nearby cafes*/
.nearbys li {
  color: #727272;
  font-size: 1.2rem;
}

p.summary{
  color: #727272;
}

@media(min-width:768px) {
  .top-50{
    margin-top: 50px;
  }
  .top-100{
    margin-top: 100px;
  }
  .top-150 {
    margin-top: 150px;
  }
  p.user {
    margin-top: 15px;
  }
}

.map {
  margin-top: 25px;
  img {
    width: 100%;
  }
}

/*search box*/
.right-inner-addon {
  position: relative;
  input {
    padding-right: 30px;
  }  
  i {
    position: absolute;
    right: 0px;
    padding: 17px 0;
    pointer-events: none;
    color: #727272;
  }
  .search-form {
    text-align: center;
  }
}

@import 'bootstrap.css';
@import 'agency.css';
@import 'comments.css.scss'
