/*
 *= require_self
 */

 .grey {
  color: #727272;
}

.white {
  color: #fff;
}

.navbar-default .nav li a {
  color: #727272;
  cursor: pointer;
}

#notice_wrapper, #alert_wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  background: rgba(135,216,211,0.85);
  p {
    text-align: center;
    margin: 0;
    font-size: 1.25rem;
    color: #ffffff;
    letter-spacing: 1px;
    padding: 2.5rem 0;
  }
}

.panel{
  border-color: #bce8f1;
  .panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }
}

.name {
    h2 {
      font-weight: 700;
      text-transform: uppercase;
    }
  }

.cafe_content {
  .social {
    text-align: right;
  }
}

p.summary{
  color: #727272;
}

@media(min-width:768px) {
  .top-50{
    margin-top: 50px;
  }
  .top-100{
    margin-top: 100px;
  }
  .top-150 {
    margin-top: 150px;
  }
}

@import 'bootstrap.css';
@import 'agency.css';
@import 'comments.css.scss'
