// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comments {
  margin: 50px 15px 15px 25px;
  .comment_content{
    color: #7e7e7e;
    .comment_username{
      font-weight: 100;
      text-align: right;
    }
  }
}