.grey {
  color: #727272;
}

.white {
  color: #fff;
}

.navbar-default .nav li a {
  color: #727272;
  cursor: pointer;
}

@media(min-width:768px) {
  .top-50{
    margin-top: 50px;
  }
  .top-100{
    margin-top: 100px;
  }
}